.bg-primary {
  background-color: #FFFFFF;
}

.bg-secondary {
  background-color: #fafbfc;
}

.btn-primary {
  background-color: #FCBE03;
  color: white;
}

.btn-secondary {
  background-color: #5E3131;
  color: black;
}

.font-primary {
  font-family: 'Alegreya', sans-serif;
}

.font-secondary {
  font-family: 'Lato', sans-serif;
}

.primary-border {
  border-bottom: 2px solid #c2c2c2;
}

.secondary-border {
  border-bottom: 1px solid #b3b3b3;
}

.primary-border-top {
  border-top: 2px solid #c2c2c2;
}

.secondary-border-top {
  border-top: 1px solid #b3b3b3;
}
