.bg-primary {
  background-color: #FFFFFF;
}

.bg-secondary {
  background-color: #fafbfc;
}

.btn-primary {
  background-color: #FCBE03;
  color: #000000;
}

.btn-secondary {
  background-color: #5E3131;
  color: #FFFFFF;
}

.primary-border {
  border-bottom: 2px solid #c2c2c2;
}

.secondary-border {
  border-bottom: 1px solid #b3b3b3;
}

.primary-border-top {
  border-top: 2px solid #c2c2c2;
}

.secondary-border-top {
  border-top: 1px solid #b3b3b3;
}

.valid-icon {
  color: #239A98;
}

.invalid-icon {
  color: #D9415C;
}
