@import "../fonts/fonts";

.quick-sand {
  font-family: 'Quicksand', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.spirax {
  font-family: 'Spirax', sans-serif;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.merriweather {
  font-family: 'Merriweather', sans-serif;
}

.overlock {
  font-family: 'Overlock', sans-serif;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.alegreya {
  font-family: 'Alegreya', sans-serif;
}

.rokkitt {
  font-family: 'Rokkitt', sans-serif;
}

.questrial {
  font-family: 'Questrial', sans-serif;
}

.muli {
  font-family: 'Muli', sans-serif;
}

.oxygen {
  font-family: 'Oxygen', sans-serif;
}
