@font-face {
  font-family: 'Alegreya Bold';
  src: url('../fonts/Bold/Alegreya-Bold.woff2') format('woff2'),
  url('../fonts/Bold/Alegreya-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya ExtraBold';
  src: url('../fonts/ExtraBold/Alegreya-ExtraBold.woff2') format('woff2'),
  url('../fonts/ExtraBold/Alegreya-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya SemiBold';
  src: url('../fonts/SemiBold/Alegreya-SemiBold.woff2') format('woff2'),
  url('../fonts/SemiBold/Alegreya-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya Black';
  src: url('../fonts/Black/Alegreya-Black.woff2') format('woff2'),
  url('../fonts/Black/Alegreya-Black.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Regular/Alegreya-Regular.woff2') format('woff2'),
  url('../fonts/Regular/Alegreya-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya Medium';
  src: url('../fonts/Medium/Alegreya-Medium.woff2') format('woff2'),
  url('../fonts/Medium/Alegreya-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('../fonts/Thin/Lato-Hairline.woff2') format('woff2'),
  url('../fonts/Thin/Lato-Hairline.woff') format('woff');
}

@font-face {
  font-family: 'Lato Black';
  src: url('../fonts/Black/Lato-Black.woff2') format('woff2'),
  url('../fonts/Black/Lato-Black.woff') format('woff');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/Bold/Lato-Bold.woff2') format('woff2'),
  url('../fonts/Bold/Lato-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Regular/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Regular/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato Light';
  src: url('../fonts/Light/Lato-Light.woff2') format('woff2'),
  url('../fonts/Light/Lato-Light.woff') format('woff');
}
