@import "../fonts/fonts";

.quick-sand {
  font-family: 'Quicksand', sans-serif;
}

.rancho {
  font-family: 'Rancho', sans-serif;
}

.gara-mond {
  font-family: 'EB Garamond', sans-serif;
}

.crimson-ft {
  font-family: 'Crimson Pro', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.source-sans {
  font-family: 'Source Sans Pro', sans-serif;
}

.poppins {
  font-family: 'Poppins', Tahoma, sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', Roboto, sans-serif;
}
