<div fxLayout='column' fxLayoutAlign='space-between' class='full-height'>
  <div>
    <druk-resale-header *ngIf='!authRoutes.includes(route.url)'></druk-resale-header>

    <div fxLayout='row' fxLayoutAlign='start' class='app-container'>
      <div fxFlex='5'></div>
  <div fxLayout='row' fxLayoutAlign='start'>
    <div fxFlex='5'>

    </div>

      <div fxFlex='90'>
        <router-outlet></router-outlet>
      </div>

      <div fxFlex='5'></div>
    </div>
  </div>
  <druk-resale-footer *ngIf='!authRoutes.includes(route.url)'></druk-resale-footer>
</div>
